body {
  margin: 0;
  font-family: "Roboto Serif", sans-serif;
}
.body-div {
  position: absolute;
  z-index: 10;
  padding-left: 30px;
  color: wheat;
}
.body-div h1 {
  font-size: 80px;
}
.body-div h3 {
  font-size: 25px;
}

.body-img {
  position: relative;
  margin-top: 0;
}
.body-mask {
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgba(83, 83, 83, 0.411)
  );
  position: absolute;
  z-index: 8;
  height: 100vh;
  width: 100%;
}
/* navbar */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(223, 206, 183);
  padding-left: 25px;
  padding-right: 25px;
}
nav h3 {
  color: #4b2301;
  font-family: "Permanent Marker", cursive;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #4b2301;
  font-weight: 600;
  padding-left: 10px;
}
nav ul li a:active {
  text-decoration: none;
}
nav ul li a:before {
  text-decoration: none;
}
nav div {
  display: flex;
  flex-direction: row;
}
.logo-img {
  height: 53px;
  padding-right: 10px;
  width: auto;
}
.body-main {
  height: 100vh;
}
.body-main img {
  height: 100vh;
  width: 100%;
}
.featured-main {
  padding-left: 30px;
  padding-right: 30px;
}
.featured-main h1 {
  color: #4b2301;
  font-size: 30px;
}

.featured-section {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.featured-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
  padding-right: 10px;
  cursor: pointer;
}
.featured-card:hover {
  transform: scale(1.1);
}
.featured-card img {
  border-radius: 15px;
}
.featured-img {
  height: 150px;
  width: auto;
}
.featured-img:hover {
  height: 150px;

  width: auto;
}

.extra-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 20px;
}
.extra-main-left {
  grid-area: "left";
  padding-right: 30px;
}
.extra-main-left h1 {
  color: #d2a45e;
  font-size: 30px;
}
.extra-main-right {
  grid-area: "right";
}
.extra-main-right img {
  border-radius: 15px;
  height: 400px;
  width: auto;
}
/* Footer */
footer {
  margin: 0;
}
.footer-main {
  background-color: black;
  height: 30vh;
  color: white;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.footer-left h1 {
  font-family: "Permanent Marker", cursive;
}
.footer-right ul {
  list-style: none;
  font-size: 20px;
  line-height: 1.5;
}
.footer-right ul li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1024px) {
  .extra-main {
    display: flex;
    flex-direction: column;
  }
  .extra-main-right img {
    border-radius: 15px;
    height: 400px;
    width: 80%;
  }
}
