div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  height: 35px;
  width: 70%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 15px;
  border-color: lightseagreen;
  border-radius: 5px;
}
button {
  height: 35px;
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
  border-color: transparent;
  border-radius: 5px;
  background-color: lightseagreen;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(19, 100, 96);
}
